* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	background-color: var(--bg-base);
	overflow: hidden;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg-base);
	overflow: hidden;
}

.font-mono {
	font-family: 'Roboto Mono', ui-monospace, monospace;
}

:root {
	--bg-base: #0a0a0f;
	--bg-primary: #0f0e17;
	--bg-secondary: #12121f;
	--text-primary: #e1ebe3;
	--text-secondary: #c8dbcc;
	--text-muted: #7b857d;
	--accent: #16db44;
}
