* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--bg-base);
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-base);
  overflow: hidden;
}

.font-mono {
  font-family: 'Roboto Mono', ui-monospace, monospace;
}

:root {
  --bg-base: #0a0a0f;
  --bg-primary: #0F0E17;
  --bg-secondary: #12121F;
}
